[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm
Comment=Python IDE for Professional Developers
Exec=/opt/pycharm-2025.3.1/bin/pycharm %f
Icon=/opt/pycharm-2025.3.1/bin/pycharm.svg
Terminal=false
Categories=Development;IDE;
StartupWMClass=jetbrains-pycharm
